/*
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default: 400
Medium:  500
Semi-bold: 600
Bold: 700

- Line heights
Default: 1
Small: 1.05
Medium: 1.5
Paragraph default: 1.6

--- 02 COLORS

---tints and shades---
link : https://maketintsandshades.com/#ff7613;
- Primary: #ff7613;

- Accents:
- Greys
#727171;

--- 06 BORDER-RADIUS

Default: 9
Medium: 

--- 07 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #ff7613;
  --text-color: #727171;
  --text-color2: #fff;
  --background-color: #000;
}
html {
  font-size: 10px;
}
body {
  font-family: Inter, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color2);
  margin-bottom: 32px;
}

/* layouts */
.container {
  max-width: 1000px;
  width: 91%;
  margin: 0 auto;
  display: grid;
  padding: 3rem;
  background: var(--background-color);
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
}

.profile {
  grid-column: 1 / -1;
  margin-bottom: 2rem;
}
.group-1 {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.group-3 {
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  grid-column: 1/-1;
  display: flex;
  flex-direction: row;
  gap: 5rem;
  margin-top: 18px;
}
.group-3 div {
  flex: 1;
}

/* common styles */
img {
  width: 100%;
  border-radius: 1600px;
}
a {
  text-decoration: none;
  color: var(--text-color2);
}
.description,
a.description {
  margin-top: 1rem;
  margin-bottom: 1rem;
  line-height: 1.6;
  letter-spacing: 1.1;
  text-transform: capitalize;
  font-size: 1.5rem;
  font-weight: 400;
  display: block;
  color: var(--text-color);
}
.title {
  color: var(--primary-color);
  font-weight: 700;
  font-size: 2rem;
  text-transform: uppercase;
}
.item_preTitle {
  font-size: 1.4rem;
  color: var(--text-color);
  font-weight: 300;
}
.item_title {
  font-size: 1.6rem;
  color: var(--text-color2);
  font-weight: 500;
  margin: 0.8rem 0;
}
.item_subtitle {
  font-size: 1.4rem;
  color: var(--text-color);
  font-weight: 400;
}

/* layouts */
.container {
  max-width: 1000px;
  width: 91%;
  margin: 0 auto;
  display: grid;
  padding: 3rem;
  background: #070707;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
}
@media only screen and (max-width: 768px) {
  .container {
    width: 100%;
    grid-template-columns: 1fr;
    padding: 3rem;
    gap: 7rem;
  }
}
.profile {
  grid-column: 1 / -1;
  margin-bottom: 2rem;
}
.group-1 {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.group-3 {
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  grid-column: 1/-1;
  display: flex;
  flex-direction: row;
  gap: 5rem;
  margin-top: 18px;
}
.group-3 > div {
  flex: 1;
}
@media only screen and (max-width: 768px) {
  .profile {
    margin-bottom: 0;
  }
  .group-3 {
    flex-direction: column;
  }
}

/* profile */
.profile_container {
  display: flex;
  gap: 3rem;
}
.profile_profileImg {
  max-width: 250px;
}
.profile_name_firstName {
  color: var(--text-color2);
  font-weight: 200;
  font-size: clamp(2rem, 8vw, 4rem);
  text-transform: uppercase;
  display: block;
  margin-bottom: -0.8rem;
}
.profile_name_lastName {
  color: var(--primary-color);
  font-weight: 700;
  font-size: clamp(2.5rem, 15vw, 7rem);
  text-transform: uppercase;
  display: block;
}
.profile_title {
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: uppercase;
}
.downloadBtn {
  display: block;
  text-decoration: none;
  padding: 12px 18px;
  border: var(--text-color2) solid 2px;
  font-size: 1.6rem;
  margin-top: 1rem;
  border-radius: 55px;
  width: 180px;
}

.downloadBtn:hover {
  color: var(--primary-color);
  border: var(--primary-color) solid 2px;
  transition: all 0.7s;
}

/* eduction */
.edu_item {
  margin-top: 2rem;
}

/* certification */
.certification_item {
  margin-top: 2rem;
}

/* socials */
.social_items {
  margin-top: 2rem;
}
.social_item {
  margin-top: 1.5rem;
  font-size: 1.5rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: flex-start;
  color: var(--text-color);
}
.social_item:hover,
.hov:hover {
  color: var(--primary-color);
  transition: all 0.7s;
}
.social_item svg {
  width: 2rem;
}

hr {
  grid-column: 1/-1;
  width: 80%;
  margin: 0 auto;
  margin-top: 5rem;
  margin-bottom: 1rem;
  border: none;
  border-top: 2px solid rgba(128, 128, 128, 0.229);
}

@media only screen and (max-width: 768px) {
  .container {
    width: 100%;
    grid-template-columns: 1fr;
    padding: 3rem;
    gap: 7rem;
  }
  .profile_container {
    flex-direction: column;
  }
  .profile {
    margin-bottom: 0;
  }
  .group-3 {
    flex-direction: column;
  }
}

@media only screen and (max-width: 400px) {
  hr {
    margin: 0 auto;
  }
  .container {
    justify-items: center;
  }

  img {
    width: 85%;
  }
  .contact_info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .downloadBtn {
    margin-top: 18px;
  }
  .profile_name_lastName {
    font-size: clamp(2.5rem, 15vw, 4rem);
  }
  .group-3,
  .profile_container {
    align-items: center;
  }
  h3.title {
    margin-bottom: 12px;
  }

  .title,
  img {
    text-align: center;
  }
}
